# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode and cache directories
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
ENV/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

*.zip

